/* color testing */
* {
  margin: 0;
}

#homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.banner {
  color: #444647;
  font-weight: 600;
  font-size: 24px;
  padding: 12px 12px 0px 12px;
  height: 480px;
}

.articles {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  color: #444647;
}

.one,
.two,
.three {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.one {
  background-color: #f0f6fa;
}

.two {
  background-color: #e7f1f6;
}

.three {
  background-color: #d9ebf3;
}

.article-header {
  align-self: center;
  font-size: 16px;
  font-weight: 550;
}

.terms {
  font-size: 36px;
  font-weight: 450;
  align-self: center;
}

.contact-message {
  font-size: 14px;
  font-weight: 450;
  margin-top: 36px;
}

.contact-note {
  font-size: 10px;
  font-weight: 450;
}

.leave-message {
  align-self: center;
  flex-grow: 0.5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  font: inherit;
  width: max-content;
  background-color: #3d808e;
  color: #f0f6fa;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: ease 250ms;
  opacity: 80%;
}

button:hover {
  opacity: 100%;
}

.view-definition {
  display: flex;
  margin-top: 12px;
  color: #3d808e;
  font-weight: 600;
  font-size: 14px;
  justify-content: center;
  gap: 4px;
}

.view-definition a {
  text-decoration: none;
  color: #3d808e;
}

.view-arrow {
  transition: ease 250ms;
}

.view-definition:hover .view-arrow {
  transform: translateX(8px);
  cursor: pointer;
}
