@keyframes slideUp {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

* {
  margin: 0;
}

#homepage {
  /* animation: 1s ease-out 0s 1 slideUp; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.banner {
  animation: slideUp 1.5s ease-out;
  color: #444647;
  padding: 12px 48px 0px 48px;
  min-height: calc(100vh * 0.55);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-title {
  align-self: center;
  font-weight: 600;
  font-size: 24px;
}

.banner-texts {
  align-self: center;
  font-weight: 450;
  font-size: 16px;
}

.articles {
  animation: slideUp 1.5s ease-out;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  color: #444647;
}

.one,
.two,
.three {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.one {
  background-color: #f0f6fa;
}

.two {
  background-color: #e7f1f6;
}

.three {
  background-color: #d9ebf3;
}

.article-header {
  align-self: center;
  font-size: 16px;
  font-weight: 600;
}

.terms {
  font-size: 36px;
  font-weight: 450;
  align-self: center;
}

.contact-message {
  font-size: 14px;
  font-weight: 450;
  margin-top: 12px;
}

.contact-note {
  font-size: 10px;
  font-weight: 450;
}

.leave-message {
  margin-top: 12px;
  align-self: center;
  flex-grow: 0.5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.view-definition {
  display: flex;
  margin-top: 12px;
  color: #3d808e;
  font-weight: 600;
  font-size: 14px;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
}

.view-definition a {
  text-decoration: none;
  color: #3d808e;
}

.view-arrow {
  transition: ease 250ms;
}

.view-definition:hover .view-arrow {
  transform: translateX(8px);
  cursor: pointer;
}
