.create-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 90%;
}

.create-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}

.create-manually,
.create-csv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  height: 36px;
  border-radius: 6px 6px 0px 0px;
  cursor: pointer;
}

.unchosen {
  background-color: #c9dadf;
  color: #bcbfbf;
}

.chosen {
  background-color: #3d808e;
  color: #ffffff;
}

.create-form-overall {
  border: 1px solid #3d808e;
  border-radius: 0px 0px 6px 6px;
  font-size: 13px;
  font-weight: 550;
  color: #727576;
  padding: 12px 36px 0px;
}

.create-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

.flashcard-set-info {
  display: flex;
  flex-direction: column;
  width: inherit;
  gap: 8px;
}

.set-info-input {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #3d808e;
  font-family: inherit;
  font-size: 14px;
  border: #eceff4 1px solid;
  background-color: #f6f7fb;
  opacity: 70%;
}

.set-info-input:focus {
  outline: none;
  border: #54858f 1px solid;
  box-shadow: 0px 2px 6px 0px #66c3d6;
  background-color: #ffffff;
  transition: linear 100ms;
  font-weight: 500;
  opacity: 100%;
}

.individual-flashcard {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.individual-flashcard-content {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.individual-flashcard-input {
  flex-grow: 1;
}

.individual {
  width: calc(100% - 26px);
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

.create-buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
