.create-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 90%;
}

.create-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.create-manually,
.create-csv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  height: 36px;
  border-radius: 6px 6px 0px 0px;
  cursor: pointer;
}

.unchosen {
  background-color: #c9dadf;
  color: #bcbfbf;
}

.chosen {
  background-color: #3d808e;
  color: #ffffff;
}

.create-form {
  border: 1px solid #3d808e;
  border-radius: 0px 0px 6px 6px;
}
