#layout {
  width: 100vw;
  height: 100vh;
  color: #444647;
  font-weight: 450;
  font-size: 16px;
}

#layout > div {
  padding: 16px 48px;
  animation: onLoad 1s ease-out;
}

@keyframes onLoad {
  0% {
    transform: translateX(-2.5%);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
