#layout {
  width: 100vw;
  height: 100vh;
  color: #444647;
  font-weight: 450;
  font-size: 16px;
}

#layout > div {
  padding: 16px 48px;
  animation: 1s ease-out 0s 1 slideUp;
}

@keyframes slideUp {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}
