@keyframes onLoad {
  0% {
    transform: translateX(-2.5%);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#login-page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  animation: onLoad 1s ease-out;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.left {
  flex-direction: column;
  background-color: #d9ebf3;
  border-right: #e6f1f6;
}

.right {
  flex-direction: column;
}

/* left side */
.back-to-home {
  position: absolute;
  top: 24px;
  left: 36px;
  display: flex;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  color: #3d808e;
  font-weight: 600;
  font-size: 16px;
}

.back-to-home a {
  text-decoration: none;
  color: #3d808e;
}

#back-arrow {
  transition: ease 250ms;
}

.back-to-home:hover #back-arrow {
  transform: translateX(-8px);
  cursor: pointer;
}

/* right side */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
  padding: 8px 0px;
}

.username,
.password {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.username label,
.password label {
  font-size: 13px;
  font-weight: 550;
  color: #727576;
}

.username input,
.password input {
  width: 100%;
}

.login-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% + 32px);
}

.link-to-others {
  color: #3d808e;
  font-weight: 550;
  font-size: 13px;
}

.link-to-others a {
  text-decoration: none;
  color: #3d808e;
}

.link-to-others:hover {
  text-decoration: underline;
  cursor: pointer;
}
