@import url('https://fonts.googleapis.com/css?family=Philosopher');

.navbarRoot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #3d808e;
  font-weight: 600;
  font-size: 24px;
  padding: 18px 24px 12px;
  height: 36px;
  align-items: center;
}

.navEnds {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

#aimee {
  margin-left: 24px;
  font-family: 'Philosopher', sans-serif;
}

.loginButtons {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 24px;
}

#login {
  border: #3d808e 2px solid;
  border-radius: 6px;
  padding: 2px 8px;
  text-decoration: none;
  color: #3d808e;
  font-weight: 550;
  font-size: 16px;
}

#login:hover {
  opacity: 80%;
  background-color: #3d808e;
  color: #ffffff;
}

.navButtonGroup {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  pointer-events: none;
}

.navButton {
  text-decoration: none;
  color: #444647;
  font-weight: 550;
  font-size: 16px;
  padding: 2px 8px;
  border: transparent 2px solid;
  pointer-events: auto;
}

.navButton:hover {
  border: #3d808e 2px solid;
  background-color: #3d808e;
  color: #ffffff;
  border-radius: 6px;
  opacity: 80%;
}
