.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  border-radius: 10px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1500ms;
}

.slide {
  display: inline-block;
  min-height: 440px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 6px;
  width: 32px;
  border-radius: 10%;
  cursor: pointer;
  margin: 10px 4px;
  background-color: #f0f6fa;
}

.slideshowDot.active {
  background-color: #d0e7f1;
}
