.all-inner-layout-pages {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: inherit;
}

.tab-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
}

.tab-view {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  height: 42px;
  border-radius: 6px 6px 0px 0px;
  cursor: pointer;
}

.unchosen {
  background-color: #c9dadf;
  color: #8a8d8d;
}

.chosen {
  background-color: #3d808e;
  color: #ffffff;
}

.tab-content-overall {
  border-top: 1px solid #3d808e;
  /* border-radius: 0px 0px 6px 6px; */
  font-weight: 600;
  padding: 24px 48px 0px;
}
